html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background: #2D2241;
    font-family: 'Rubik', sans-serif;
    color: white;
}

@font-face{
    font-family: myFirstFont;
    src: url(Lazer84.ttf);
}


.page-header{
      display: flex;
      background: rgba(45,34,65,0.9);
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      max-height: 60px;
}

.page-logo{
      height: 60%;
      margin: 10px;
}

.nav-ul{
    display: flex;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
}

.nav-item{
    margin: 0 12px;;
}


a{
    color: white;
    text-decoration: none;
}

.about{
    display: flex;
    justify-content: center;
    height: 55vh;
    margin-top: 60px;

}

.page-heading{
    font-size: 48px;
   
}

span{
    display: flex;
}

.description__list--item{
    list-style-type: none;
    font-size: 19px;
    line-height: 32px;
}

.description__list--item::before {
    content: 'v';
    font-size: 14px;
    font-family: MyFirstFont;
    margin-right: 10px;
    color: rgb(249, 200, 2);
    text-shadow: 0 3px 0 rgb(227, 6, 19);
}

.about__description__list{
    padding: 10px 0px;
}

.about_description--p{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.main-content{
    max-width: 1100px;
    margin: 0 auto;
}

.author-photo{
    width: 70%;
    border-radius:  30% 45% 20% 45%;
}

.about-author{
   padding-left: 40px;
}

.about__description{
    margin-right: 100px;
}

.about__author--name{
    background: -webkit-gradient(linear,left top,right top,from(#F9C802),to(#EC6C06));
    background: -webkit-linear-gradient(left,#F9C802,#EC6C06);
    background: -o-linear-gradient(left,#F9C802,#EC6C06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #f9c802;
    margin-left: 4rem;
    margin: 3rem auto 0 3rem;
}
    
.about__author--job{
    color: #747474;
    font-weight: 400;
    margin: 1rem 4rem;
}

.color-font{
    font-family: myFirstFont;
    font-weight: 700;
    color: rgb(249, 200, 2);
    text-shadow: 0 3px 0 rgb(227, 6, 19);
    letter-spacing: .5rem;
}

.for-who {
    padding: 0;
}

.for-who__heading--title{
    text-align: center;
    font-size: 32px;
}

.for-who__box{
    display: flex;
    color: white;
    font-family: rubik;
    text-shadow: none;
}

.for-who__box--for-you, .for-who__box--not-for-you{
    width: 50%;
}

.for-who--smaller-title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: normal;
}

.for-who--list-item{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: normal;
    margin-bottom: 16px;
    padding-right: 16px;
}


.for-who__list{
    list-style: disc;
    padding: 0 20px 0 15px;
}

.program {
    margin: 100px 0;
}

.program__item{
    padding: 1rem;
    width: 33%;
    max-width: 20rem;
}

.program__list-box{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.program__item-title{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    background: -webkit-gradient(linear,left top,right top,from(#F9C802),to(#EC6C06));
    background: -webkit-linear-gradient(left,#F9C802,#EC6C06);
    background: -o-linear-gradient(left,#F9C802,#EC6C06);
    background: linear-gradient(to right,#F9C802,#EC6C06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;

}

.program__time {
    color: #e5e5e5;
    font-size: 14px;
    margin: 0;
}

.program__list{
    margin: 30px 0;
    list-style: none;
    padding: 0;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.program__list--item {
    margin-bottom: 15px;
    display:flex;
    line-height: 20px;
}

.live {
    background: white;
    color: black;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    height: 22px;
    padding: 0.3rem 4px;
    border-radius: 4px;
    margin-right: 7px;
}

.live::before {
    content: '';
    background: #e30613;
    display: inline-block;
    width: .5rem;
    border-radius: 50%;
    height: .5rem;
    margin: 2px 2px 0 0;
}


.program__footer {
    font-size: 14px;
    font-weight: 400;
    color: #e5e5e5;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.for-who a {
    color:  #f9c802;
}

.video {
    width: 1100px;
    height: 620px;
    margin-bottom: 25px;
}

.videos--title {
    font-size: 32px;
    text-align: center;
}

.faq--title {
    font-size: 32px;
    text-align: center;
}

.faq__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.faq--item {
    max-width: 40%;
    padding: 1rem 1rem 1rem 3rem;
    height: auto;
    margin: 0 auto;
}

.faq__question{
    font-size: 24px;
}


.faq--answer {
    font-size: 16px;
    line-height: 24px;
    display: block;
}

.faq--answer a {
    color: #f9c802;
    margin: 0 3px;
}

.author--title {
    font-size: 32px;
    text-align: center;
    padding: 40px 0;
}

.author--img{
    height: 130px;
    width: 130px;
    border-radius: 5rem 3rem 8rem 4.5rem;
    margin: 20px 0 0 90px;
}

.author__box {
    width: 60%;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
    
}

.author__picture {
    width: 45%;
}

.author__description {
    width: 45%;
    padding: 5px;
}

.author--few-words {
    font-size: 18px;
    line-height: 29px;
}

.author__description span {
    margin-top: 20px;
}


.page-footer {
    height: 40px;
    background: #efefef;
    color: black;
    line-height: 40px;
    text-align: center;
}

